{% extends "layout.njk" %}

{% block head %}
<script src="/src/about.js" defer></script>
<style>
p {
  line-height: 1.5;
  font-size: var(--regular-text-size);
  overflow-wrap: break-word;
  text-align: justify;
  margin: 1.3rem 0;
}
</style>
{% endblock %}

{% block content %}
<div>
  <h1>About this blog</h1>
  <p>I'm Michael, a programming enthusiast from Ukraine. I've been programming for <span id="years-of-exp">3</span> years,
    mostly as a hobby. I enjoy reading about programmers' different perspectives, thought process on building projects,
    and that's what I'm trying to do here as well. I do not claim to be an expert at anything, so take everything you read here
    with a grain of salt.</p>

  <p>My main expertise is web dev, both front-end and back-end, but I've also been working on expending my horizon by
    learning more about desktop app development.</p>

  <p>Outside of programming, I have a background in design engineering (namely machine building), and I aim to bring these two worlds
    together through my work somehow. I'm also a big music geek and a video games enjoyer.</p>

  <p>In this blog, you can expect posts that describe my thought process of building various applications step-by-step,
    discussions on random programming topics I find interesting, and sharing my personal technical experience on this lifelong journey. Thank you for stopping by and checking out my blog!
  </p>
</div>
{% endblock %}