{% extends "layout.njk" %}

{% block head %}
<link rel="stylesheet" href="/public/styles/index.css">
{% endblock %}

{% block content %}
<div>
  <p class="blog-desc">A programming blog of a very curious and very confused dev</p>
  <h1>Posts</h1>
  <div>
    {% for post in collections.posts | reverse %}
    <article class="article">
      <h2>
        <a href="{{ post.url }}">
          {{ post.data.title }}
        </a>
      </h2>
      <div class="article-info-wrapper">
        <p>{{ post.data.date|localeDate }}</p>
        <p>{{ post.data.time_to_read }} min{{ post.data.time_to_read | pluralize }} read</p>
      </div>
    </article>
    {% else %}
    <p class="no-posts-para">No posts yet...</p>
    {% endfor %}
  </div>
</div>
{% endblock %}