<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A programming blog by an ever-curious developer with technical tutorials, tech-related thoughts.">
  <meta name="google-site-verification" content="Ld8aHazsOSXyWY_yN3-U9HGCF4FBPBaLZzQwYeHQuso" />
  <title>{{ title | default("Blog | Michael Savych") }}</title>
  <link rel="stylesheet" href="/public/styles/globals.css">
  <link rel="stylesheet" href="/public/styles/style.css">
  {% block head %}{% endblock %}
</head>
<body>
  <header class="header">
    <nav>
      <ul>
        <li>
          <a href="/">Blog</a>
        </li>
        <li>
          <a href="/about/">About</a>
        </li>
        <li>
          <a href="/feed/feed.xml" target="_blank" aria-label="RSS" title="RSS">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-rss">
              <path d="M4 11a9 9 0 0 1 9 9" />
              <path d="M4 4a16 16 0 0 1 16 16" />
              <circle cx="5" cy="19" r="1" />
            </svg>
          </a>
        </li>
      </ul>
      <select aria-label="Color Theme" data-theme-picker name="themepicker" id="color-theme-selector"
        class="theme-picker main-picker">
        <option value="light">☀ Light</option>
        <option value="dark">🌙 Dark</option>
        <option value="system">💻 System</option>
      </select>
      <select aria-label="Color Theme" data-theme-picker name="themepicker" id="mobile-color-theme-selector"
        class="theme-picker mobile-picker">
        <option value="light">☀</option>
        <option value="dark">🌙</option>
        <option value="system">💻</option>
      </select>
    </nav>
  </header>

  <main class="main-container">
    <div></div>
    {% block content %}
    {{ content | safe }}
    {% endblock %}
    {% block toc %}{% endblock %}
  </main>

  <footer class="footer">
    <p class="footer-text">© <a href="https://github.com/savvy-itch" target="_blank">Michael Savych</a></p>
    <p class="footer-text">Built with <a href="https://www.11ty.dev/" target="_blank">11ty</a></p>
  </footer>
  <script src="/src/main.js"></script>
</body>
</html>