.article-wrapper {
  max-width: 77ch;
  justify-self: center;
}

.article-details-pub-date {
  color: var(--dim-text);
  font-size: 1rem;
  font-style: italic;
}

p > code {
  padding: .125rem .25rem;
  border-radius: .25rem;
  background-color: var(--footer-bg);
  color: var(--light-text);
  font-size: 1.1rem;
}

code,
code * {
  font-family: monospace;
}

.code-block {
  position: relative;
  margin: 1.3rem 0;
}

.code-block>.code-elem {
  display: block;
  background-color: var(--code-block-bg);
  color: var(--light-text);
  padding: 1.1rem;
  border-radius: 6px;
  border: 1px solid var(--light-text);
  overflow-x: auto;
}

.code-block,
.code-block span {
  font-size: 1rem;
}

.copy-to-clipboard-btn {
  position: absolute;
  display: inline-flex;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 4px;
  transition: background-color .1s;
}

.copy-to-clipboard-btn:hover {
  cursor: pointer;
  background-color: var(--copy-btn-hover-bg);
}

.copy-to-clipboard-btn img {
  width: 18px;
  height: 18px;
  display: none;
}

.copy-to-clipboard-icon {
  filter: var(--code-copy-icon-color);
  transition: transform .1s;
}

.copy-to-clipboard-btn:hover .copy-to-clipboard-icon {
  filter: var(--code-copy-hover);
}

.copy-to-clipboard-btn .show {
  display: block;
}

.article-details-pub-date {
  color: var(--dim-text);
  font-size: 1rem;
  font-style: italic;
}

.article-wrapper>p,
.article-wrapper li {
  line-height: 1.5;
  font-size: var(--regular-text-size);
  overflow-wrap: break-word;
  text-align: justify;
}

.article-wrapper li {
  list-style-position: inside;
}

.article-wrapper>p,
.article-wrapper ul {
  margin: 1.3rem 0;
}

.article-wrapper th,
.article-wrapper td {
  border: 1px solid var(--light-text);
  padding: 5px;
}

.article-wrapper a {
  color: var(--link-color);
  transition: color .2s;
}

.article-wrapper a:hover {
  color: var(--link-hover);
}

.article-wrapper p:has(img),
.article-wrapper figure {
  display: flex;
  justify-content: center;
  width: 100%;
}

.article-wrapper p>img,
.article-wrapper>figure img {
  max-width: 90%;
}

.share-wrapper {
  position: relative;
}

.share-btn {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 7px 12px;
  border-radius: 20px;
  border: 1px solid var(--light-text);
  background-color: transparent;
  transition: var(--color-transition);
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 1.5rem 0;
}

.share-btn img {
  width: 1rem;
  height: 1rem;
  filter: var(--code-copy-icon-color);
}

.share-btn:hover {
  cursor: pointer;
  border: 1px solid var(--dimmer-text);
}

.share-wrapper .share-links-list {
  position: absolute;
  left: 0;
  border: 1px solid var(--light-text);
  border-radius: 5px;
  margin: 0;
  background-color: var(--bg-color);
  padding: 5px;
  list-style: none;
  display: none;
}

.share-links-list.show {
  display: block;
}

.share-links-list li {
  border-radius: 4px;
}

.share-links-list a,
.share-links-list button {
  font-size: var(--regular-text-size);
  color: var(--light-text);
  font-weight: 500;
  text-decoration: none;
  width: 100%;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.share-links-list button {
  background-color: transparent;
  border: none;
  border-radius: 4px;
}

.share-links-list li:hover,
.share-links-list button:hover {
  background-color: var(--footer-bg);
  cursor: pointer;
}

.share-links-list a:hover {
  color: var(--light-text);
}

.share-links-list a>img,
.share-links-list button>img {
  width: 1rem;
  height: 1rem;
  filter: var(--code-copy-icon-color);
}

.up-btn {
  position: fixed;
  z-index: 100;
  bottom: 5%;
  right: 10%;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--link-color);
  border: 1px solid var(--light-text);
  transition: transform .3s;
  animation-duration: .3s;
  animation-name: btn-collapse;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.up-btn img {
  width: 3rem;
  height: 3rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
}

.up-btn.show-btn {
  animation-duration: .3s;
  animation-name: btn-pop-up;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.up-btn:hover {
  cursor: pointer;
  border: 1px solid var(--dim-text);
}

@keyframes btn-pop-up {
  0% {
    transform: scale(0);
  }

  85% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes btn-collapse {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0);
  }
}

/* TOC */

.sidebar-heading {
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.content-table {
  max-height: calc(100dvh - var(--nav-height));
  border-left: 1px solid var(--dimmer-text);
  padding: 0 0 2rem 2rem;
  position: sticky;
  top: var(--nav-height);
  background-color: var(--bg-color);
  z-index: 9;
}

.content-table-list.sm-list {
  display: none;
}

.content-table-list {
  list-style: none;
}

.content-table-list li {
  margin: .5rem 0;
}

.content-table-list ul {
  padding-left: 1.5rem;
  list-style: none;
}

.content-table-list a {
  color: var(--dim-text);
  transition: color .2s;
  text-decoration: none;
}

.content-table-list a:hover {
  color: var(--dimmer-text);
}

.content-table-list a[aria-current=true] {
  color: var(--highlight-color);
}

@media screen and (min-width: 1920px) {
  .article-wrapper {
    max-width: 82ch;
  }
}

@media screen and (max-width: 1100px) {
  .content-table {
    display: none;
  }

  .content-table-list.sm-list {
    display: block;
  }
}

@media screen and (max-width: 640px) {

  .article-wrapper p>img,
  .article-wrapper>figure img {
    max-width: 100%;
  }
}

/* Okaidia theme extension for light theme */

@media (prefers-color-scheme: dark) {

  .token.constant,
  .token.deleted,
  .token.property,
  .token.symbol,
  .token.tag {
    color: #FC6EA2;
  }
}

@media (prefers-color-scheme: light) {

  .token.cdata,
  .token.comment,
  .token.doctype,
  .token.prolog {
    color: hsl(210, 15%, 37%)
  }

  .token.keyword {
    color: hsl(190, 81%, 37%)
  }

  .token.atrule,
  .token.attr-value,
  .token.class-name,
  .token.function {
    color: #9C6500
  }

  .token.operator,
  .token.punctuation {
    color: var(--light-text)
  }

  .token.attr-name,
  .token.builtin,
  .token.char,
  .token.inserted,
  .token.selector,
  .token.string {
    color: hsl(80, 76%, 30%)
  }

  .token.boolean,
  .token.number {
    color: hsl(261 100% 60% / 1)
  }
}

:root:has(#color-theme-selector [value="dark"]:checked) {

  .token.constant,
  .token.deleted,
  .token.property,
  .token.symbol,
  .token.tag {
    color: #FC6EA2;
  }
}

:root:has(#color-theme-selector [value="light"]:checked) {

  .token.cdata,
  .token.comment,
  .token.doctype,
  .token.prolog {
    color: hsl(210, 15%, 37%)
  }

  .token.keyword {
    color: hsl(190, 81%, 37%)
  }

  .token.atrule,
  .token.attr-value,
  .token.class-name,
  .token.function {
    color: #9C6500
  }

  .token.operator,
  .token.punctuation {
    color: var(--light-text)
  }

  .token.attr-name,
  .token.builtin,
  .token.char,
  .token.inserted,
  .token.selector,
  .token.string {
    color: hsl(80, 76%, 30%)
  }

  .token.boolean,
  .token.number {
    color: hsl(261 100% 60% / 1)
  }
}