@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSansDisplay-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans Bold';
  src: url('../fonts/NotoSansDisplay-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Fredoka';
  src: url('../fonts/Fredoka-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Fredoka SemiBold';
  src: url('../fonts/Fredoka-SemiBold.woff') format('woff');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

p, span, a, input, label, td, li, select, option, strong {
  font-family: 'Fredoka', Arial, Helvetica, sans-serif;
}

th {
  font-family: 'Fredoka SemiBold', Arial, Helvetica, sans-serif;
}

body {
  min-height: 100dvh;
  background-color: var(--bg-color);
  color: var(--light-text);
  scroll-behavior: smooth;
  display: grid;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 2rem;
  padding: 2rem var(--px);
}

a {
  color: var(--light-text);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > ul {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

h1 {
  text-align: center;
}

h1, h2, h3, h2 > a {
  font-family: 'Noto Sans Bold', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 3rem 0 1.3rem 0;
}

.header {
  padding: 2rem var(--px);
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  z-index: 10;
  font-size: 1.2rem;
  font-weight: bold;
  min-height: var(--nav-height);
}

.header a {
  text-decoration: none;
  font-family: 'Noto Sans Bold', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--light-text);
  transition: color .2s;
}

.header a:hover {
  color: var(--dim-text);
}

table {
  border-collapse: collapse;
  margin: 1.5rem 0;
}

.mobile-picker {
  display: none;
}

.theme-picker {
  font-size: 1.2rem;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid 1px solid var(--light-text);
  background-color: transparent;
}

.theme-picker option {
  background-color: var(--bg-color);
}

.theme-picker:hover {
  cursor: pointer;
}

.footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  align-items: center;
}

.footer-text {
  text-align: center;
  margin: 0;
  font-size: .9rem;
}

@media screen and (max-width: 1100px) {
  .header {
    padding: 2rem var(--px) 1rem var(--px);
  }

  h1 {
    margin-top: 1rem;
  }

  .main-container {
    display: block;
    padding-top: 1rem;
  }
}

@media screen and (max-width: 640px) {
  h2, h3, h4, h5, h6 {
    margin: 1.5rem 0 1rem 0;
  }
}

@media screen and (max-width: 520px) {
  .header {
    padding: 1rem;
  }

  nav > ul {
    width: 100%;
    /* justify-content: space-between; */
    gap: 2rem;
  }

  .mobile-picker {
    display: block;
  }

  .main-picker {
    display: none;
  }
}
